include incl/header.pug
body
	include incl/navbar.pug
	.container
		//- .container#title-container
		//- 		h1#title Shopify
	.block(style='height: 600px;')
		.centered
			h1#title Shopify
			h3#smallertitle Because reasons
			

		if user
			.row
				center
					a.btn.btn-info.btn-lg(href='/goprofile')
						span.glyphicon.glyphicon-shopping-cart
						|  Shopping Cart
script( src="/js/jquery-3.1.1.min.js")
script( src="/css/bootstrap/js/bootstrap.min.js")
script( src="./js/scripts/frontend.js")